Package: com.xsf1re.lpaybypass
Name: LPayBypass
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: XsF1re
Author: XsF1re
Section: Tweaks
