Package: com.xsf1re.uplusmembershipbypass
Name: UplusMemberShipBypass
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: U+멤버스 탈옥 감지를 우회시킵니다. 03.03.01 버전에서 확인 완료.
Maintainer: XsF1re
Author: XsF1re
Section: Tweaks
