Package: com.xsf1re.sbankminibypass
Name: SBankMiniBypass
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: XsF1re
Author: XsF1re
Section: Tweaks
